@use "./variables.scss" as *;
@use "./utils.scss" as *;

.c-header {
  position: relative;
  padding: 1.6rem 3.6rem 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white-color;
  margin: 0.8rem 0;

  @media (max-width: 830px) {
    padding: 0;
    background-color: transparent;
  }

  &__menu-toggle {
    display: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    @media (max-width: 830px) {
      display: block;
    }
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
      gap: 3.2rem;

      li {
        font-weight: 500;
        font-size: $m;

        a.is-active {
          background-color: $accent-color;
          color: $white-color;
          padding: 0.8rem 1.6rem;
          border-radius: 4rem;
        }
      }
    }

    &.is-open {
      position: fixed;
      top: 0;
      right: 0;
      background-color: $white-color;
      z-index: 1000;
      display: flex;
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
      animation: slideIn 0.3s ease-out;
      border-radius: 2.4rem;
      padding: 2.4rem;

      ul {
        flex-direction: column;
        gap: 1.6rem;

        li {
          padding: 1.6rem;
          border-radius: 1.2rem;
        }

        li:hover {
          transform: scale(1.1);
          background-color: $accent-color;

          a {
            color: $white-color;
          }
        }
      }
    }

    @media (max-width: 830px) {
      display: none;
    }
  }

  @keyframes slideIn {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
}

.c-hero {
  position: relative;
  overflow: hidden;

  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    @media (max-width: 480px) {
      position: static;
      max-height: 20rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    color: $white-color;
    gap: 15%;

    @media (max-width: 960px) {
      gap: 0;
    }

    @media (max-width: 480px) {
      flex-direction: column;
      padding-right: 0;
      padding-left: 0;
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3.2rem;
      flex: 2;

      @media (max-width: 480px) {
        h1 {
          position: absolute;
          top: -55%;
          left: 5%;
          width: 50%;

          @media (max-width: 320px) {
            position: static;
            width: 100%;
            color: $dark-text-color;
          }
        }
      }

      p {
        padding-right: 20%;

        @media (max-width: 960px) {
          padding-right: 0;
        }

        @media (max-width: 480px) {
          color: $dark-text-color;
        }
      }
    }

    &-info {
      align-self: flex-end;
      text-align: end;
      flex: 1.4;
      line-height: 150%;

      @media (max-width: 480px) {
        align-self: flex-start;
        text-align: start;
        margin-top: 2rem;
      }

      @media (max-width: 400px) {
        text-align: center;
        align-self: center;
      }
    }
  }
}

.c-slider {
  overflow: hidden;

  @media (max-width: 830px) {
    flex-direction: column;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45rem;

    @media (max-width: 830px) {
      width: 100%;
    }

    &-buttons {
      display: flex;
      gap: 1.6rem;

      @media (max-width: 830px) {
        display: none;
      }
    }
  }

  &__cards {
    display: flex;
    gap: 0.8rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    article {
      position: relative;
      background: var(--bg-img) center/cover no-repeat;
      min-width: 30rem;
      min-height: 45rem;
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 3.2rem;

      &.card-gradient::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
          180deg,
          $gradient-from 31.3%,
          $accent-color 100%
        );
        border-radius: 2.4rem;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        z-index: 1;
        color: $white-color;
      }
    }
  }
}

.c-form {
  background-color: $accent-color;
  color: $white-color;

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 0;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    flex: 1;

    @media (max-width: 640px) {
      padding-bottom: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      li {
        display: flex;
        gap: 0.8rem;
        align-items: center;

        img {
          height: 2.4rem;
          width: 2.4rem;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.6rem;
    align-items: flex-start;

    .c-form_inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      @media (max-width: 640px) {
        flex-direction: row;
      }

      @media (max-width: 400px) {
        flex-direction: column;
      }

      input {
        padding: 0.8rem 1.6rem 0.8rem 2.4rem;
        border-radius: 4rem;
        outline: none;
        border: none;
        width: 100%;
      }

      &-agreement {
        font: $note;
        position: relative;
        display: flex;
        align-items: center;
        height: 2.4rem;

        input {
          position: absolute;
          opacity: 0;
          pointer-events: none;
        }

        label {
          position: relative;
          font: $note;
          padding-left: 3.2rem;
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 2.4rem;
            height: 2.4rem;
            background-image: url("/icons/unchecked.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: background-image 0.2s ease;
          }
        }

        input:checked + label::before {
          background-image: url("/icons/checked.svg");
        }
      }
    }

    button {
      @media (max-width: 400px) {
        width: 100%;
      }
    }
  }
}

.c-contacts {
  justify-content: space-between;

  @media (max-width: 830px) {
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    background-color: $white-color;
    align-items: flex-start;
    flex: 1;
    color: $dark-text-color;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      li {
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }

      .phones {
        display: flex;
        gap: 3.2rem;

        @media (max-width: 320px) {
          flex-direction: column;
          gap: 1.6rem;
        }
      }
    }
  }

  &__map {
    flex: 1;

    iframe {
      width: 100%;
      height: 100%;
      border: none;

      @media (max-width: 900px) {
        min-height: 25rem;
      }
    }
  }
}

.c-footer {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 0;

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 2rem;
  }

  &__nav {
    flex: 2;
    ul {
      list-style: none;
      display: flex;
      gap: 3.2rem;

      @media (max-width: 320px) {
        flex-direction: column;
        gap: 1.6rem;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
      }
    }

    @media (max-width: 640px) {
      order: 2;
    }
  }

  &__info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 0.9;

    @media (max-width: 640px) {
      order: 4;
    }
  }

  &__logo {
    @media (max-width: 640px) {
      order: 1;
    }
  }

  &__sep {
    display: none;

    @media (max-width: 640px) {
      display: block;
      order: 3;
      height: 2px;
      color: $dark-text-color;
    }
  }
}
