@font-face {
  font-family: 'Tilda Sans VF';
  src: url('/fonts/TildaSans-VF.woff2') format('woff2'),
       url('/fonts/TildaSans-VF.woff') format('woff'),
       url('/fonts/TildaSans-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
