// colors
$main-bg-color: #f6f6f6;
$white-color: #ffffff;
$dark-text-color: #2e2d2b;
$accent-color: #1f8b48;
$gradient-from: #1f8b4800;

// fonts
$h1: normal 700 6.4rem/90% "Gropled", sans-serif;
$h2: normal 700 4rem/95% "Gropled", sans-serif;
$h3: normal 700 3.2rem/100% "Gropled", sans-serif;
$h4: normal 700 2.4rem/110% "Gropled", sans-serif;
$lead: normal 500 2.1rem/140% "Tilda Sans VF", sans-serif;
$body: normal 400 1.6rem/150% "Tilda Sans VF", sans-serif;
$note: normal 400 1.2rem/100% "Tilda Sans VF", sans-serif;
$button: normal 700 1.8rem/110% "Gropled", sans-serif;

$m: 1.6rem;

@media (max-width: 960px) {
  $h1: normal 700 3.2rem/100% "Gropled", sans-serif;
  $h2: normal 700 2.8rem/100% "Gropled", sans-serif;
  $h4: normal 700 2rem/100% "Gropled", sans-serif;
  $lead: normal 500 1.8rem/120% "Tilda Sans VF", sans-serif;
  $body: normal 400 1.6rem/150% "Tilda Sans VF", sans-serif;
  $note: normal 400 1.2rem/100% "Tilda Sans VF", sans-serif;
}
